<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="index.html">Akshay Naik</a>
        </div>
        <ul class="nav-menu">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="blog.html" class="nav-link">Blog</a></li>
            <li><a href="projects.html" class="nav-link">Projects</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav> 